<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <h2 class="p-3 mb-2 bg-danger text-white fixed-top">
        <div class="container">about</div>
      </h2>
      <div class="row pt-5"></div>
      <div class="row pt-5"></div>
      <div class="row mx-auto">
        <div class="col-10"><h5>A human being.</h5></div>
        <div class="col-auto">
          <div class="list-group">
            <a href="/" class="text-danger font-weight-bold list-group-item list-group-item-danger">< Home</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">

  <div class="row pt-4"></div>

</div>


