<div class="container pt-5">
  <div class="row mx-auto">
    <div class="col"><h3><b>Create Post</b></h3><br></div>
    <div class="col">
      <div class="list-group float-right">
        <a href="/posts" class="text-danger font-weight-bold list-group-item list-group-item-danger">< Back</a>
      </div>
    </div>
  </div>
</div>
<%= render 'form' %>