<div class="container pt-5">
  <div class="row pt-5"></div>
  <div class="row mx-auto">
    <div class="col-10"><h2><b> <%= @post.title %> </b></h2>
      <br>
      <p> <%= @post.body %> </p></div>
    <div class="col-auto">
      <div class="list-group">
        <a href="/" class="text-danger font-weight-bold list-group-item list-group-item-danger">< Back</a>
      </div>
    </div>
  </div>
</div>
